body{
font-family: 'Open Sans', sans-serif;
background-color:#FFF1E6;
}

h1{
  text-align: center;
  color: #94593D;
  margin: 10px;
}
h2{
  color: #94593D;
}

p{
  line-height: 1.5;
  color: #94593D;
}

.image-gallery{
  display: flex;
  justify-content: center;
}

.image-gallery img{
  margin: 10px;
  height: 300px;
}

.videos {
  display: flex;
  justify-content: center;
}

iframe {
  margin: 25px;
  width: 460px;
  height: 258.75px;
}

section {
  padding: 10px 30px;
  max-width: 1200px;
  margin: auto;
}

.nav
